*{
  font-family: Arial, Helvetica, sans-serif;
}
h3{
  color: rgb(57, 46, 187);
}
.tasklist{
  display: flex;
  width:52rem;
  justify-content: center;
  align-items: center;
  flex: wrap;
  gap: 2rem;
  background-color: aliceblue;
  border: 2px solid rgb(123, 122, 122);
  border-radius: 1rem;
}
.add-btn{
  margin: 1rem;
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  border-radius: 2rem;
  border-style: none;
  background: linear-gradient(rgb(128, 141, 219),rgb(124, 75, 216));
  
}
body{
  background-color: pink;
}
h1{
  text-align: center;
  color: aliceblue;
}
.task-name{
  margin-left: 35%;
  padding: 0.5%;
  border: none;
  border-radius: 6px;
}
#task-progress{
  padding: 0.5%;
  border: none;
  border-radius: 6px;
}
.submit-button{
  padding: 0.5%;
  border: none;
  border-radius: 6px;
  background-color: lightseagreen;
  color: aliceblue;
}